mat-card {
  min-height: 300px;
  max-width: 400px;
  padding-bottom: 30px;
  z-index: 2;
  h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3px;
    color: #676767;
  }
  ::ng-deep .mat-form-field-outline {
    max-height: 56px !important;
  }
  form {
    padding: 0 30px;
    mat-form-field {
      width: 100%;
    }
    button {
      width: 100%;
      text-transform: uppercase;
    }
  }
  p {
    padding-top: 20px;
    text-align: center;
    color: grey;
    font-size: .9em;
    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }

}

.row {
  margin-top: calc(46vh - 100px);
}
// mat-form-field {
//   width: 300px;
//   // margin-left: 30px;
// }

img {
  top: 0;
  left: 0;
  height: 979px;
  width: 1922px;
  position: absolute;
}
