mat-card {
  min-height: 300px;
  max-width: 400px;
  padding-bottom: 30px;
  z-index: 2;
  margin-left: 100px;
  top: 228px;
  h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3px;
    color: #676767;
  }
  ::ng-deep .mat-form-field-outline {
    max-height: 56px !important;
  }
  form {
    padding: 0 30px;
    mat-form-field {
      width: 100%;
    }
    button {
      width: 100%;
      text-transform: uppercase;
    }
  }
  p {
    padding-top: 20px;
    text-align: center;
    color: grey;
    font-size: .9em;
    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }

}

img {
  top: 0;
  left: 0;
  height: 979px;
  width: 1922px;
  position: absolute;
}

.hero{
  // box-sizing: border-box;
  background-image: url('../../../assets/city-blurred-hd-1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  height: calc(100vh - 17px);

  div{
      height: 90%;
  }
}