<app-header></app-header>

<mat-card>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <mat-form-field>
        <input matInput type="text" name="username" ngModel #username="ngModel" placeholder="Username">
      </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" #description="ngModel" ngModel
        placeholder="Description">
    </mat-form-field>
    <div class="col">
      <button mat-flat-button color="primary" class="submit-button">Submit</button>
    </div>
  </form>
</mat-card>
