<mat-toolbar>
  <span>{{href | startsWithCapital}}</span>
  <button mat-flat-button color="primary" class="toolbar-login-button" routerLink="/login">Login</button>
  <button mat-flat-button color="primary" class="toolbar-signup-button" routerLink="/signup">Sign up</button>
  <button mat-flat-button color="primary" class="toolbar-addphoto-button" routerLink="/add">Add photo</button>
  <button mat-icon-button mat-icon-button matTooltip="Home" matTooltipPosition="below"  routerLink="/"><mat-icon>home</mat-icon></button>
</mat-toolbar>
