mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

@media (min-width: 1201px) {
  .toolbar-signup-button {
    margin-left: 1515px;
    margin-right: 20px;
  }

  .toolbar-addphoto-button {
    margin-left: 1464px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .toolbar-signup-button {
    margin-left: 843px;
    margin-right: 20px;
  }

  .toolbar-addphoto-button {
    margin-left: 760px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .toolbar-signup-button {
    margin-left: 638px;
    margin-right: 20px;
  }

  .toolbar-addphoto-button {
    margin-left: 552px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .toolbar-signup-button {
    margin-left: 424px;
    margin-right: 20px;
  }

  .toolbar-addphoto-button {
    margin-left: 329px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .toolbar-signup-button {
    margin-left: 224px;
    margin-right: 20px;
  }

  .toolbar-addphoto-button {
    margin-left: 139px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .toolbar-signup-button {
    margin-left: 85px;
    margin-right: 10px;
  }

  .toolbar-addphoto-button {
    margin-left: 1px;
  }
}

@media only screen and (max-width: 330px) {
  .toolbar-signup-button {
    margin-left: 5px;
    // margin-right: 10px;
  }

  .toolbar-logout-button {
    margin-left: -31px;
  }

  mat-icon {
    display: none;
  }

  .toolbar-addphoto-button {
    margin-left: -14px;
  }
}
