.div2 {
  width: 500px;
  position: absolute;
  left: 1097px;
  top: 300px;
}

mat-form-field {
  width: 300px;
}

img {
  height: 500px;
  position: absolute;
  top: 185px;
  right: 790px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 2px 2px;
}