mat-card {
  width: 500px;
  z-index: 999;
  // top: 273px;
}

mat-form-field {
  width: 300px;
}

img {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 55%;    
    position: absolute;
    top: 24%;
    left: 30%;
  
}