<div class="row">
  <div class="col main">
    <mat-card>
      <div class="row">
        <img [src]="imgurl" alt="main" />
      </div>
      <div class="row">
        <form (ngSubmit)="onSubmit(f, 'Dismiss')" #f="ngForm" novalidate>
          <div class="row">
            <app-name-input-wider class="name-input" [(ngModel)]="name" name="name" #nameVal="ngModel">
            </app-name-input-wider>
          </div>
          <div class="row">
            <app-description-input class="description-input" [(ngModel)]="description" name="description"
              #descripionVal="ngModel"></app-description-input>
          </div>
          <div class="row">
            <app-tags-input [(ngModel)]="tags" name="tags" [allTags]="allTags"></app-tags-input>
          </div>
          <div class="row">
            <app-categories-input [(ngModel)]="preselectedCategories" name="categories" [categoriesList]="categories">
            </app-categories-input>
          </div>
          <div class="row">
            <button mat-flat-button color="primary" class="submit-button" (click)="onSubmit('Dismiss')">Submit</button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
