.div2 {
  width: 500px;
  position: absolute;
  left: 1097px;
  top: 300px;
}

mat-form-field {
  width: 300px;
}

img {
  // height: 500px;
  // position: absolute;
  // top: 185px;
  // right: 790px;
  // border: 1px solid #ddd;
  // border-radius: 4px;
  // box-shadow: 2px 2px;


    /* The image used */
    // background-image: url("photographer.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 55%;    
    position: absolute;
    top: 24%;
    left: 30%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}