section {
  padding: 20px;
  margin-top: 10px;
}

.photo-container {
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin: 10px;
  display: inline-block;
}

.gallery-container {
  margin: 30px auto;
  max-width: 870px;
}

mat-form-field {
  margin-right: 40px;
}

.sorting-container {
  margin-bottom: 12px;
  margin-top: 53px;
}

mat-card {
  width: calc(100% - 32px);
  position: relative;
}

mat-card:not(.sorting-container) {
  padding-top: 5vw;
  position: relative;
}

mat-spinner {
  margin: 30px auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.toolbar-login-button {
  position: absolute;
  right: 25px;
}

.toolbar-signup-button {
  position: absolute;
  right: 100px;
}

.toolbar-addphoto-button {
  position: absolute;
  right: 200px;
}

.res-count-container {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 12px;
  color: grey;
  letter-spacing: 0.3px;
}

.relative {
  position: relative;
}

.placeholder {
  color: grey;
}

@media only screen and (max-width: 1440px) and (min-width: 981px) {
  .test {
    color: blue;
  }
}

@media only screen and (max-width: 980px) {
  .test {
    color: red;
  }
}

@media only screen and (max-width: 560px) {
  .test {
    color: black;
  }
}

@media only screen and (max-width: 430px) {
  .test {
    color: violet;
  }
}
