<section>
  <mat-card class="sorting-container">
    <div class="heading-chip">
      <p>Filter</p>
    </div>
    <div class="row">
      <div class="col-m-5 col-sm-4">
        <!-- <mat-form-field appearance="outline">
          <input matInput placeholder="Search image" [(ngModel)]="searchString" (ngModelChange)="initSearch($event)"
            class="input-padding">
        </mat-form-field> -->
        <app-search-box-input [(ngModel)]="searchString" (ngModelChange)="initSearch($event)" ></app-search-box-input>
      </div>
      <div class="col-m-3 col-sm-4">
        <app-categories-input (selectionChange)="selectionChangedCategories($event)" name="categories"
          [categoriesList]="categories">
        </app-categories-input>
      </div>
      <div class="col-m-3 col-sm-4">
        <app-tags-checkbox-input (selectionChange)="selectionChangedTags($event)" name="tags" [tags]="tags">
        </app-tags-checkbox-input>
      </div>
    </div>
    <label>
    </label>
  </mat-card>
  <mat-card>
    <ng-container *ngIf="photos.length < 1">
      <img src="../../../assets/imageedit_2_5812423925-696x379.png" />
    </ng-container>
    <div *ngFor="let item of photos; let i = index">
      <div *ngIf="i % 3 == 0">
        <div class="row justify-content-center">
          <div *ngFor="let item of photos.slice(i, i + 3)">
            <div class="photo-container">
              <app-photo [photo]="item"></app-photo>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</section>
