<app-header></app-header>
<div class="hero">
  <div class="row">
    <div class="col side "></div>
    <div class="col side ">
    </div>
    <div class="col side">
    </div>
    <div class="col main">
        <mat-card>
            <h1>Signup</h1>
            <form [formGroup]="credentials" >
              <mat-form-field>
                <mat-icon matPrefix>perm_identity</mat-icon>
                <input matInput type="text" name="name" placeholder="Enter your name" formControlName="name" required>
                <mat-error *ngIf="credentials.controls['name'].hasError('minlength')">Name must be atleast 5 characters
                </mat-error>
                <mat-error *ngIf="credentials.controls['name'].hasError('maxlength')">Name max length is 12</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix>perm_identity</mat-icon>
                <input matInput type="text" name="username" placeholder="Enter your username" formControlName="username"
                  required>
                <mat-error *ngIf="credentials.controls['username'].hasError('required')">Username is required</mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('minlength')">Username must be atleast 5
                  characters
                </mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('maxlength')">Username max length is 12
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="email" name="email" placeholder="Enter your email" formControlName="email" required>
                <mat-icon matPrefix>email</mat-icon>
                <mat-error *ngIf="credentials.controls['email'].hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="credentials.controls['email'].hasError('email')">Email is invalid</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-icon class="signupPrefix" matPrefix>vpn_key</mat-icon>
                <input matInput type="password" name="password" placeholder="Enter your password" formControlName="password"
                  required minlength="6">
                <mat-error *ngIf="credentials.controls['password'].hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="credentials.controls['password'].hasError('password')">Password is invalid</mat-error>
                <mat-error *ngIf="credentials.controls['password'].hasError('minlength')">Password must be atleast 8
                  characters
                </mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('maxlength')">Password max length is 25
                </mat-error>
                  <mat-error *ngIf="credentials.controls['password'].hasError('notMatched')"> Passwords do not match</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" name="confirmPassword" placeholder="Confirm password"
                  formControlName="confirmPassword" required>
                <mat-icon matPrefix>vpn_key</mat-icon>
                <mat-error *ngIf="credentials.controls['confirmPassword'].hasError('required')">Password is required
                </mat-error>
                <mat-error *ngIf="credentials.controls['confirmPassword'].hasError('minlength')">Password must be atleast 8
                  characters
                </mat-error>
                <mat-error *ngIf="credentials.controls['confirmPassword'].hasError('maxlength')">Password max length is 25
                </mat-error>
              </mat-form-field>
              <div>&nbsp;</div>
              <div>
                <mat-checkbox required formControlName="policy" required name="policy">I agree with privacy policy
                </mat-checkbox>
                <mat-error *ngIf="credentials.controls['policy'].hasError('required')" class="policy-error">You have to
                  agree
                  with
                  our policy</mat-error>
              </div>
              <div>&nbsp;</div>
              <button mat-flat-button color="primary" type="submit"
                (click)="onSubmit('You successfully signed up', 'Dismiss')">Signup</button>
              <div>
              </div>
            </form>
          </mat-card>
    </div>
    <div class="col side"></div>
  </div>
</div>










<!-- <app-header></app-header>
<div class="hero">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <mat-card>
            <h1>Signup</h1>
            <form [formGroup]="credentials">
              <mat-form-field>
                <mat-icon matPrefix>perm_identity</mat-icon>
                <input matInput type="text" name="name" placeholder="Enter your name" formControlName="name" required>
                <mat-error *ngIf="credentials.controls['name'].hasError('minlength')">Name must be atleast 5 characters
                </mat-error>
                <mat-error *ngIf="credentials.controls['name'].hasError('maxlength')">Name max length is 12</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix>perm_identity</mat-icon>
                <input matInput type="text" name="username" placeholder="Enter your username" formControlName="username"
                  required>
                <mat-error *ngIf="credentials.controls['username'].hasError('required')">Username is required</mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('minlength')">Username must be atleast 5
                  characters
                </mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('maxlength')">Username max length is 12
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="email" name="email" placeholder="Enter your email" formControlName="email" required>
                <mat-icon matPrefix>email</mat-icon>
                <mat-error *ngIf="credentials.controls['email'].hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="credentials.controls['email'].hasError('email')">Email is invalid</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-icon class="signupPrefix" matPrefix>vpn_key</mat-icon>
                <input matInput type="password" name="password" placeholder="Enter your password" formControlName="password"
                  required minlength="6">
                <mat-error *ngIf="credentials.controls['password'].hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="credentials.controls['password'].hasError('password')">Password is invalid</mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('minlength')">Password must be atleast 8
                  characters
                </mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('maxlength')">Password max length is 25
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" name="confirmPassword" placeholder="Confirm password"
                  formControlName="confirmPassword" required>
                <mat-icon matPrefix>vpn_key</mat-icon>
                <mat-error *ngIf="credentials.controls['confirmPassword'].hasError('required')">Password is required
                </mat-error>
                <mat-error *ngIf="credentials.controls['confirmPassword'].hasError('confirmPassword')">Password is invalid
                </mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('minlength')">Password must be atleast 8
                  characters
                </mat-error>
                <mat-error *ngIf="credentials.controls['username'].hasError('maxlength')">Password max length is 25
                </mat-error>
              </mat-form-field>
              <div>&nbsp;</div>
              <div>
                <mat-checkbox required formControlName="policy" required name="policy">I agree with privacy policy
                </mat-checkbox>
                <mat-error *ngIf="credentials.controls['policy'].hasError('required')" class="policy-error">You have to
                  agree
                  with
                  our policy</mat-error>
              </div>
              <div>&nbsp;</div>
              <button mat-flat-button color="primary" type="submit"
                (click)="onSubmit('You successfully signed up', 'Dismiss')">Signup</button>
              <div>
              </div>
            </form>
          </mat-card>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div> -->
