mat-card {
  top: 228px;
  min-height: 300px;
  max-width: 400px;
  z-index: 2;

  h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3px;
    color: #676767;
  }

  form {
    width: 100%;
    padding: 0 20px;
    mat-form-field {
      width: 100%;
    }
    ::ng-deep .mat-form-field-infix {
      margin: 0 13px;
    }
  }

  .signupPrefix {
    ::ng-deep .mat-icon {
      margin-left: 3px;
    }
  }
  button {
    width: 100%;
    text-transform: uppercase;
    height: 43px;
  }
}

img {
  top: 0;
  left: 0;
  height: 979px;
  width: 1922px;
  position: absolute;
}

.hero {
  background-image: url('../../../assets/city-blurred-hd-1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 1080px;
  width: 1980px;

  max-width: 100%;
  overflow-x: hidden;

  div {
    height: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    width: 100%;
    margin-left: 450px;
  }
  .side {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .main {
    width: 100%;
    margin-left: 300px;
  }
  .side {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    margin-left: 200px;
  }
  .side {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .main {
    width: 100%;
    margin: 0 90px;
  }

  .side {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .main {
    width: 100%;
    margin: 0 68px;
  }

  .side {
    display: none;
  }
}

@media only screen and (max-width: 330px) {
  .main {
    width: 100%;
    margin: 0 5px;
  }

  .side {
    display: none;
  }
}
