.mat-card {
  width: 500px;
  position: absolute;
  left: 1097px;
  top: 270px;
}
mat-form-field {
  width: 300px;
  margin-left: 30px;
}


img {
  height: 979px;
  width: 1900px;
}

mat-icon {
  margin-left: 3px;
}

.submit-button {
  left: 294px;
}
