mat-card {
  top: 228px;
  min-height: 300px;
  max-width: 400px;
  z-index: 2;

  h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3px;
    color: #676767;
  }

  form {
    width: 100%;
    padding: 0 20px;
    mat-form-field {
      width: 100%;
    }
    ::ng-deep .mat-form-field-infix {
      margin: 0 13px;
    }
  }

  .signupPrefix {
    ::ng-deep .mat-icon {
      margin-left: 3px;
    }
  }
  button {
    width: 100%;
    text-transform: uppercase;
    height: 43px;
  }
}

img {
  top: 0;
  left: 0;
  height: 979px;
  width: 1922px;
  position: absolute;
}
