<mat-form-field>
  <input matInput name="inputfield" type="password" [(ngModel)]="value" minlength="8" maxlength="20" required
         #inputfield="ngModel" ngModel class="form-control" placeholder="{{placeholder}}"/><mat-icon class="signupPrefix" matPrefix>vpn_key</mat-icon>
  <mat-error *ngIf="inputfield.control.hasError('required')">
    Password is required
  </mat-error>
  <mat-error *ngIf="inputfield.control.hasError('minlength')">
    Minimum length is 8 symbols
  </mat-error>
</mat-form-field>
