mat-card {
  top: 228px;
  min-height: 300px;
  max-width: 400px;
  z-index: 2;

  mat-form-field {
    width: 325px;
  }

  form {
    width: 100%;
    padding: 0 20px;
  }

  button {
    margin-top: 10px;
    width: 100%;
    text-transform: uppercase;
    height: 43px;
  }
}

img {
  max-width: 1000px;
  max-height: 600px;
  margin: 200px auto;
}
