<!-- <app-header></app-header> -->

<div class="row">
  <div class="col main">
    <mat-card>
      <div class="row">
        <img src="{{shownPicture}}" />
      </div>
      <div class="row">
        <form (ngSubmit)="onSubmit(f, 'Dismiss')" #f="ngForm" novalidate>
          <div class="row">
            <app-name-input-wider class="name-input" [(ngModel)]="name" name="name" #nameVal="ngModel"></app-name-input-wider>
          </div>
          <div class="row">
            <app-description-input class="name-input" [(ngModel)]="description" name="description" #descripionVal="ngModel"></app-description-input>
          </div>
          <div class="row">
            <app-tags-input [(ngModel)]="tags" name="tags" [allTags]="allTags" ></app-tags-input>

          </div>
          <div class="row">
            <app-categories-input [(ngModel)]="selectedCategories" name="categories" [categoriesList]="categories"></app-categories-input>
          </div>
          <div class="row">
            <mat-form-field>
              <ngx-mat-file-input (change)="picked($event)" placeholder="Image" #inputfield="ngModel" ngModel required
                name="file">
              </ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
              <mat-error *ngIf="inputfield.control.hasError('required')">Image upload is required</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <button mat-flat-button color="primary" class="submit-button">Submit</button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
