<app-header></app-header>
<section>
  <mat-card>
    <div class="container">
      <img class="center" src="{{shownPicture}}" />
    </div>
  </mat-card>
  <mat-card>
    <form #f="ngForm" (ngSubmit)="onSubmit(f, 'Message', 'Dismiss')" novalidate class="selections">
      <label>
        <mat-form-field>
          <input matInput name="name" ngModel #first="ngModel" placeholder="Name: " required >
        </mat-form-field>
        <mat-form-field>
          <input matInput name="description" #description="ngModel" ngModel placeholder="Description: " required>
        </mat-form-field>
      </label>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #tagList aria-label="Tags selection" required>
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-select name="categories" ngModel #category="ngModel" placeholder="Categories" multiple required>
          <mat-option *ngFor="let category of categories" [value]="category" (click)="filterCategories(category.id)">
            {{category.name}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <ngx-mat-file-input (change)="picked($event)"  placeholder="Image" required>
        </ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
      <button mat-flat-button color="primary" class="submit-button">Submit</button>
    </form>
  </mat-card>
</section>