/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/consts.scss';

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: $primary !important;
    // max-width: 100%;
    // overflow-x: hidden;
    // height: 100%;
  
}
body {
  margin: 0;
}
