@import '../../../assets/styles/consts.scss';

.container {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $secondary;
    opacity: 0.5;
    display: none;

    animation: moveUp linear 0.5s;
    top: 0;
  }
}

.container:hover {
  .overlay {
    display: block;

    mat-icon p {
      margin-left: 55px;
      margin-top: 75px;
      font-size: 150px;
      visibility: visible;
    }
  }
}

@keyframes moveUp {
  0% {
    top: 250px;
    opacity: 0;
  }
  50% {
    top: 150px;
    opacity: 0.1;
  }
  100% {
    top: 0;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 330px) {
  .container {
    width: 80%;
  }
}
