.photo-container {
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    background-color: transparent;

    img { 
        display: inline-block;
        margin-top: 14%;
    }

    .overlay {
        height: 258px;
        width: inherit;
        position: absolute;
        // display: none;
        display: none; 
        bottom: 0;
        left: 0;

        animation: moveUp linear .5s;
    }

}

.photo-container:hover {

    .overlay {
        // height: 100px;
        background-color: #e91e63;
         display: block;
         opacity: 0.2;
    }
}

::ng-deep .mat-card{
    width: 50%;
    position: relative;
    margin: 0 auto;
}

@keyframes moveUp{
    0% {
        top: 250px;
        opacity: 0;
    }
    50% {
        top: 150px;
        opacity: 0.1;
    }
    100% {
        top: 0;
        opacity: .5;
    }
}

